# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/
/build

# Env
.env
.env.local
.env.*.local

# Debug
npm-debug.log*

# Playwright
/playwright-report/
/test-results/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
